.container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
}

.box {
  width: 350px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
}

.link {
  text-decoration: none;
  color: #333;
  margin-bottom: 10px;
}

.text {
  font-weight: bold;
  color: #2E1F27;
}

.box2 {
  background-color: #102542;
  height: 280;
  width: 400;
  float: right;
  margin-right: 313px;
  padding: 8px
}

.link:hover {
  cursor: pointer;
}

.divider {
  height: 1px;
  background: #FFFFFF;
  margin: 10px 0;
  background: linear-gradient(to right, transparent, #FFFFFF 60%, #FFFFFF 90%, transparent);
}

.link2:hover {
  cursor: pointer
}

.verticalDivider {
  height: 30px;
  width: 1px;
  background: #102542;
  margin: 0 10px;
}

.box4 {
  width: 350px;
  height: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin-left: 8px;
  border: #102542 solid 0.5px;
}

.boxImage {
  width: 340px;
  height: 150px;
  vertical-align: top;
  margin: auto;
}

.container2 {
  display: flex;
  align-items: flex-start;
  /* aligns items to the top */
  justify-content: center;
}